:root {
  --primary: #140065;
  --secondary: #132A13;
  --padding: 15px;
  --cinza : #405040;
  --cinza-claro: #0fd00f;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  padding: 0;
  margin: 0 auto;
}
